.about {
  display: grid;
  grid-template-columns: 1fr var(--max-width) 1fr;
  /* TEMP */
  margin-bottom: 50px;
}

.about-bg {
  background: linear-gradient(135deg, rgba(5, 31, 56, 1) 0%, rgba(9, 57, 104, 1) 100%);
  padding: 64px 30px 64px 64px;
  grid-column: span 2;
  border-bottom-left-radius: var(--border-r);
}

.about-main {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: var(--max-width);
  margin-right: auto;
  width: 100%;
}

.about-img {
  object-fit: cover;
  margin-right: 32px;
  max-width: 215px;
}

.about-title {
  color: var(--white);
}

.about-description {
  margin: 24px 0 32px 0;
  color: var(--white);
}

.about-description span {
  color: var(--secondary);
  font-weight: 700;
}

.about-ctas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}

.about-social:not(:last-child) {
  margin-right: 20px;
}

.about-social a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-social:hover a svg path,
.about-social a:focus svg path {
  transition: all 0.2s ease-in-out;
  fill: var(--secondary);
}

@media (max-width: 1310px) {
  .about {
    grid-template-columns: 1fr;
    padding-left: 30px;
  }
}

@media (max-width: 750px) {
  .about-main {
    flex-direction: column;
  }

  .about-img {
    max-width: none;
    margin: 0 0 40px 0;
    max-height: 300px;
    width: 100%;
  }

  .about-bg {
    padding: 64px 30px;
    border-bottom-left-radius: 0;
  }

  .about {
    padding-left: 0;
  }

  .about-description {
    margin-top: 16px;
  }
}

@media (max-width: 450px) {
  .about-ctas {
    flex-direction: column;
    align-items: stretch;
  }

  .about-socials-container {
    margin: 24px 0 0 0;
  }
}
