.btn {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--border-r);
  font-size: var(--btn);
  line-height: var(--btn-line-height);
  font-weight: 500;
  padding: 11.5px 30px;
}

.btn-primary {
  border: 1.5px solid transparent;
  background-color: var(--primary-dark);
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  transition: all 0.2s ease-in-out;
  border: 1.5px solid var(--primary-dark);
  color: var(--primary-dark);
  background-color: unset;
}

.btn-secondary {
  border: 1.5px solid transparent;
  background-color: var(--primary-light);
  color: var(--white);
}

.btn-secondary:hover,
.btn-secondary:focus {
  transition: all 0.2s ease-in-out;
  border: 1.5px solid var(--white);
  color: var(--white);
  background-color: unset;
}
