.filter {
  padding: 130px 30px 0 30px;
}

.filter-container {
  width: 100%;
}

.filter-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-seperator {
  background-color: var(--gray);
  margin: 16px 0 32px 0;
  width: 100%;
  height: 1px;
}

.filter-title {
  color: var(--black);
  font-weight: 900;
}

.filter-control {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: var(--black-50);
  font-weight: 500;
}

.filter-control:focus {
  transition: all 0.2s ease-in-out;
  color: var(--black);
}

.filter-control:hover,
.filter-control-active,
.filter-control:focus {
  transition: all 0.2s ease-in-out;
  color: var(--black);
}

.filter-control-seperator {
  color: var(--black);
  font-weight: 900;
  margin: 0 10px;
}

.filter-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1050px) {
  .filter {
    padding-top: 100px;
  }
}

@media (max-width: 650px) {
  .filter {
    padding-top: 50px;
  }

  .filter-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-mode-controls {
    margin: 32px 0 10px 0;
  }
}
