* {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: var(--secondary) dotted 2px;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Primary */
  --primary-darkest: #051f38;
  --primary-dark: #093968;
  --primary: #03549a;
  --primary-light: #347cb9;

  --secondary: #5ed4fb;

  --gradient: linear-gradient(135deg, rgba(5, 31, 56, 1) 0%, rgba(9, 57, 104, 1) 100%);

  /* Neutral */
  --black: #041a2f;
  --black-50: hsla(209, 84%, 10%, 0.5);

  --gray-darkest: #737373;
  --gray-dark: #bdbdbd;
  --gray: #e0e0e0;
  --gray-light: #f2f2f2;
  --white: #f6fafe;

  /* Typography */
  --h1: 3rem;
  --h1-line-height: 54px;

  --h2: 2.25rem;
  --h2-line-height: 42px;

  --body: 1.125rem;
  --body-line-height: 25px;

  --btn: 1.125rem;
  --btn-line-height: 18px;

  --card: 1.125rem;
  --card-line-height: 16px;

  --body-s: 1rem;

  --small: 0.875rem;
  --small-line-height: 16px;

  /* Other */
  --max-width: 1250px;

  --border-r: 8px;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 900;
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
  font-weight: 900;
}

.body-text {
  font-size: var(--body);
  line-height: var(--body-line-height);
}

.body-s-text {
  font-size: var(--body-s);
}

.small-text {
  font-size: var(--small);
  line-height: var(--small-line-height);
}

.card-text {
  font-size: var(--card);
  line-height: var(--card-line-height);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

.underline {
  display: block;
  background: linear-gradient(var(--primary-light) 0 0) bottom / var(--d, 20%) 2px no-repeat;
  transition: 0.2s ease-in-out;
}

.underline:hover {
  --d: 100%;
}

@media (max-width: 1050px) {
  :root {
    --h1: 2.375rem;
    --h1-line-height: 48px;

    --h2: 1.85rem;
    --h2-line-height: 32px;

    --body: 1rem;

    --btn: 1rem;
    --btn-line-height: 16px;

    --body-s: 0.875rem;
  }
}

@media (max-width: 650px) {
  :root {
    --h1: 2rem;
    --h1-line-height: 38px;
  }
}
