.input {
  margin-bottom: 16px;
  width: 100%;
}

.input label {
  display: block;
  font-weight: 700;
}

.input input,
.input textarea {
  border-radius: var(--border-r);
  color: var(--black);
  border: 1px solid #cacaca;
  padding: 6px 15px;
  margin: 8px 0 4px 0;
  width: 100%;
  min-width: 0;
}

.input input::placeholder,
.input textarea::placeholder {
  color: #cacaca;
}

.input .error {
  visibility: visible;
  color: #cc0000;
  margin-left: 4px;
}

.input .error-valid {
  visibility: hidden;
}

@media (max-width: 1050px) {
  .input {
    margin-bottom: 8px;
  }

  .input input,
  .input textarea {
    margin: 6px 0 0 0;
  }
}
