.navbar {
  padding: 24px 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-weight: bold;
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--primary-dark);
}

.logo-img {
  width: auto;
  max-height: 30px;
  margin-right: 8px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list-item:not(:last-child) {
  margin-right: 30px;
}

.navbar-link,
.navbar-download-link {
  color: var(--black-50);
  font-weight: 500;
}

.navbar-link-active {
  color: var(--black);
}

.navbar-link:hover,
.navbar-download-link:hover,
.navbar-download-link:hover .navbar-download-icon path {
  transition: all 0.2s ease-in-out;
  color: var(--black);
  fill: var(--black);
}

.navbar-download-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-download-icon {
  margin-right: 8px;
}

.hamburger-btn {
  outline: none;
  background: none;
  border: none;
  display: none;
  height: 44px;
  width: 44px;
}

.hamburger-btn:focus {
  outline: 2px solid black;
}

@media (max-width: 850px) {
  .btn-navbar,
  .navbar-list {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  .navbar {
    padding: 15px 30px;
  }
}

@media (max-width: 450px) {
  .logo-img {
    max-width: 23px;
  }
}
