.projects {
  margin: 75px 0;
  padding: 0 30px;
}

.projects-container {
  display: grid;
  align-content: stretch;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 24px;
}

.projects-load-more {
  border: none;
  cursor: pointer;
  margin: 24px auto 0 auto;
  color: var(--black);
  font-weight: 700;
}

@media (max-width: 420px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
