.skills {
  padding: 0 30px;
  margin-bottom: 180px;
}

.skills-title,
.skills-lead {
  text-align: center;
}

.skills-title {
  color: var(--black);
}

.skills-title span {
  color: var(--primary-light);
}

.skills-lead {
  color: var(--black);
  font-weight: 500;
  margin: 24px 0 100px 0;
}

.skills-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 150px;
  gap: 100px;
}

#p-skill-card-2 {
  top: calc(35px * 1);
}

#p-skill-card-3 {
  top: calc(35px * 2);
}

.skills-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 24px;
}

@media (max-width: 950px) {
  .skills-cards {
    gap: 32px;
  }

  .skills-cards > * {
    max-width: none;
  }
}

@media (max-width: 750px) {
  .skills-cards {
    flex-direction: column;
    margin-bottom: 75px;
    gap: 75px;
  }

  #p-skill-card-2 {
    top: 0;
  }

  #p-skill-card-3 {
    top: 0;
  }

  .skills {
    margin-bottom: 124px;
  }
}
