footer {
  background: #342079;
  width: 100%;
  position: relative;
}

footer .container {
  max-width: 1200px;
  padding: 25px;
  margin: auto;
  justify-content: space-between;
  align-items: stretch;
  z-index: 5;
  flex-wrap: wrap;
}

footer .bg {
  background: url("../../../assets/images/bg.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

footer h3,
footer li {
  text-align: left;
}

footer h3 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.4rem;
}

footer li,
footer svg,
footer a {
  color: #a092de;
  font-size: 1.2rem;
}

footer a:hover,
footer .media svg:hover {
  color: #8674d6;
}

footer li {
  margin-top: 1rem;
}

footer .contact .flex {
  justify-content: flex-start;
}

footer .contact svg {
  margin-right: 0.8rem;
}

footer .credit,
footer .contact,
footer .media {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 10px;
}

footer .media .flex {
  flex-direction: column;
  margin: 0 auto;
}

footer .media svg {
  font-size: 2.2rem;
}
