.btn {
  background: var(--btn-gradient, rgb(68, 46, 186));
  border-radius: 8px;
  padding: 8px;
  min-width: 200px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--btn-hover-gradient, rgb(57, 39, 160));
}

.btn,
.btn > * {
  color: #fff;
  font-weight: 600;
}
