nav {
  position: relative;
  padding: 25px;
  height: 115px;
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

nav img {
  width: 75px;
  height: auto;
}

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-links > * {
  margin-left: 70px;
}

.nav-link,
nav button {
  color: #a5a5a5;
  font-size: 1.4rem;
}

.download-cv,
.download-cv-nav {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar .nav-link,
.download-cv {
  color: #6655b0;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:active,
nav button:hover {
  color: #fff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:active,
.download-cv:hover {
  color: #8674d6;
}

.hamburger {
  display: none;
  margin-left: auto;
}

.hamburger svg,
.sidebar button svg {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}

.sidebar button svg {
  color: #2e1b6f;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #fff;
  transition: transform 0.3s ease-in-out;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}

.sidebar-overlay {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.sidebar button :first-child {
  margin-bottom: 1rem;
}

.sidebar li {
  text-align: right;
  margin: 15px 0;
}

@media (max-width: 1100px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: initial;
  }
}
