.homepage-projects {
  min-height: 100vh;
  padding: 25px;
}

.homepage-projects h1 {
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
  margin: 4rem 0;
}

.homepage-projects span,
.homepage-projects a {
  color: #442eba;
  font-weight: bold;
}

.homepage-projects a {
  text-decoration: underline;
}

.homepage-projects a:hover {
  color: #5e4ad1;
}

.homepage-projects-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homepage-projects .project-card {
  margin: 2rem;
}

@media (max-width: 1200px) {
  .homepage-projects {
    flex-wrap: wrap;
  }

  .homepage-projects .project-card {
    width: 100%;
    min-height: 0;
  }

  .homepage-projects .project-card img {
    max-width: none;
  }
}

@media (max-width: 750px) {
  .homepage-projects .project-card {
    margin: 1rem 0;
  }

  .homepage-projects h1 {
    font-size: 1.8rem;
  }
}
