/* Reset & custom vars */

body {
  background: rgb(19, 9, 69);
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

:root {
  /* Gradients */
  --btn-gradient: linear-gradient(135deg, rgba(68, 46, 186, 1) 0%, rgba(116, 46, 186, 1) 100%);
  --btn-hover-gradient: linear-gradient(135deg, rgb(58, 40, 161) 0%, rgb(103, 41, 165) 100%);

  /* Neutrals */
  --neutral-500: #a5a5a5;
  --neutral-100: #fff;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

li,
ul {
  list-style: none;
}

/* Util classes */

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
