.project-card {
  position: relative;
  background: var(--card-gradient, rgb(19, 9, 69));
  padding: 150px 25px;
}

.project-card-white {
  background: #fff;
  padding: 75px 25px;
}

.project-card .container {
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.project-card img {
  max-width: 550px;
  border-radius: 8px;
  z-index: 1;
  padding: 0 1rem;
  width: 100%;
}

.project-card .text-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  z-index: 1;
}

.project-card .title,
.project-card .github-icon {
  text-align: left;
  color: var(--neutral-100);
  font-size: 3rem;
  margin-right: 1rem;
}

.heading-container {
  margin-bottom: 1rem;
}

.project-card .description {
  color: var(--purple-200);
  max-width: 450px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.project-card button {
  width: 100%;
}

.project-card .wave,
.project-card .wave-2 {
  position: absolute;
  height: 90px;
  width: 100%;
}

.project-card .wave {
  top: -1px;
  background: url("../../../assets/images/project-wave-top.svg") no-repeat;
}

.project-card .wave-2 {
  bottom: -1px;
  background: url("../../../assets/images/project-wave-bottom.svg") no-repeat;
  transform: rotateY(180deg);
}

.project-card .bg {
  background: url("../../../assets/images/bg.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  /* Switch over to svgs with no aspect ratio preservation so they won't scale at smaller screens. */
  .project-card .wave {
    background: url("../../../assets/images/project-wave-top-2.svg") no-repeat;
  }

  .project-card .wave-2 {
    background: url("../../../assets/images/project-wave-bottom-2.svg") no-repeat;
  }
}

@media (max-width: 1050px) {
  .project-card .container {
    flex-direction: column !important;
    align-items: center;
  }

  .project-card img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .project-card .title,
  .project-card .github-icon {
    font-size: 1.6rem;
  }

  .project-card .description {
    font-size: 1rem;
  }
}
